<h1>Takeout Tracker</h1>

<h3>Takeout Orders</h3>

<div class="form-control" *ngIf="!selected">
  <input type="hidden" [(ngModel)]="newFood.id" /><br />
  Name<input type="text" [(ngModel)]="newFood.name" placeholder="Italian" /><br />
  Description<input type="text" [(ngModel)]="newFood.description" placeholder="Cannoli" /><br />
  <!-- Purchase Date<input type="text" [(ngModel)]="newFood.purchaseDate" value="06/09/2022" /><br /> -->
  Price $<input type="number" [(ngModel)]="newFood.price" value="15"/><br />
  Rating 1-5 <input type="number" [(ngModel)]="newFood.rating" value="4"/><br />
  <button (click)="addFood(newFood)">Add Takeout Order</button>
</div>

<ul>
<li *ngFor="let food of foodList">{{food.name}}</li>

</ul>
